<!DOCTYPE html>
<html>
<head>
    <title>Crear Pregunta a partir de Sugerencia</title>
</head>
<body>
    <div class="manageSuggestion-container">
        <h1 class="manageSuggestion-title">Crear Pregunta a partir de Sugerencia</h1>
        <form action="/editor/acceptSuggestion?id={{suggestion.id}}" method="post" class="manageSuggestion-form">
            <label for="pregunta">Ingrese pregunta:</label>
            <input type="text" id="pregunta" name="pregunta" value="{{suggestion.contenido}}" required>
            
            <label for="categoria">Seleccione una categoría:</label>
            <select id="categoria" name="categoria">
                <option value="1">Artes</option>
                <option value="2">Ciencia</option>
                <option value="3">Deportes</option>
                <option value="4">Entretenimiento</option>
                <option value="5">Geografía</option>
                <option value="6">Historia</option>
            </select>
            
            <table class="w3-table-all">
                <thead>
                    <tr>
                        <th>Respuesta</th>
                        <th>Correcta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="respuestas[0][contenido]" required></td>
                        <td><input type="radio" name="correcta" value="0" required></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="respuestas[1][contenido]" required></td>
                        <td><input type="radio" name="correcta" value="1" required></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="respuestas[2][contenido]" required></td>
                        <td><input type="radio" name="correcta" value="2" required></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="respuestas[3][contenido]" required></td>
                        <td><input type="radio" name="correcta" value="3" required></td>
                    </tr>
                </tbody>
            </table>
            
            <input type="submit" class="w3-button w3-green w3-margin-top" value="Agregar Pregunta">
        </form>
    </div>
</body>
</html>