<!DOCTYPE html>
<html>
<head>
    <title>Sugerencias</title>
</head>
<body>
    <div class="suggestion-container">
        <h1 class="suggestion-title">Preguntas Sugeridas</h1>
        <table class="w3-table-all suggestion-table">
            <thead>
                <tr class="w3-light-grey suggestion-header">
                    <th class="suggestion-col">Pregunta</th>
                    <th class="suggestion-col">Usuario</th>
                    <th class="suggestion-col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#suggestions}}
                <tr class="suggestion-row">
                    <td class="suggestion-col">{{contenido}}</td>
                    <td class="suggestion-col"><a href="/user/profile/username={{username}}">{{username}}</a></td>
                    <td class="suggestion-actions">
                        <a href="/editor/manageSuggestionView/id={{id}}" class="w3-button w3-blue w3-margin-right">Editar</a>
                        <a href="/editor/rejectSuggestion/id={{id}}" class="w3-button w3-red" onclick="return confirm('¿Estás seguro de rechazar esta sugerencia?')">Rechazar</a>
                    </td>
                </tr>
                {{/suggestions}}
            </tbody>
        </table>
        <div class="w3-margin-top"> 
            <a href="/editor/manageQuestionView" class="w3-button w3-green">Agregar Nueva Pregunta</a>
            <a href="/editor/editorView" class="w3-button w3-green">Preguntas</a>
            <a href="/editor/logout" class="w3-button w3-red">Logout</a>
        </div>
    </div>
</body>
</html>