<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking de Usuarios</title>
</head>
<body>
    <div class="w3-container w3-card w3-margin w3-padding">
        <h1>Ranking de Usuarios</h1>
        <table>
            <thead>
            <tr>
                <th>Posición</th>
                <th>Usuario</th>
                <th>Puntaje</th>
            </tr>
            </thead>
            <tbody>
            {{#ranking}}
                <tr>
                    <td>{{posicion}}</td>
                    <td>{{username}}</td>
                    <td>{{puntuacion}}</td>
                </tr>
            {{/ranking}}
            </tbody>
        </table>
    </div>
</body>
</html>