<form action="/user/suggest" method="POST">
    <label for="question">Sugeri una pregunta:</label>
    <input type="text" id="question" name="question" required>
    <button class="w3-button w3-green" type="submit">Enviar</button>
</form>

{{#success}}
    <p class="w3-green">{{success}}</p>
{{/success}}

{{#error}}
    <p class="w3-red">{{error}}</p>
{{/error}}
