    <div class="suggestion-container">
        <form action="/user/suggest" method="POST" class="suggestion-form">
            <label for="question" class="suggestion-label">Sugeri una pregunta:</label>
            <input type="text" id="question" name="question" class="suggestion-input" required>
            <button class="suggestion-button" type="submit">Enviar</button>
        </form>

        {{#success}}
            <p class="suggestion-success">{{success}}</p>
        {{/success}}

        {{#error}}
            <p class="suggestion-error">{{error}}</p>
        {{/error}}
    </div>