<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte Jornada</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            padding: 0;
        }
        h1, h2 {
            text-align: center;
        }
        p {
            margin-bottom: 10px;
        }
        .container {
            width: 80%;
            margin: 0 auto;
        }
        .header {
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        .footer {
            margin-top: 20px;
            text-align: center;
            font-style: italic;
            font-size: 12px;
        }
        .section {
            margin-bottom: 20px;
        }
        .section-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .section-content {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Reporte</h1>
        <p>Fecha: {{ fecha }}</p>
    </div>

    <div class="section">
        <h2 class="section-title">Informe</h2>
        <div class="section-content">
            <p>Este reporte de Jornada muestra los datos para el dia actual.</p>
        </div>
    </div>

    <div class="section">
        <h2 class="section-title">Grafico</h2>
        <div class="section-content">
            <img src="{{base64Image}}" alt="img">
        </div>
    </div>
    <div class="footer">
        <p>Este reporte fue generado automáticamente por nuestro sistema.</p>
    </div>
</div>
</body>
</html>
