<h2>Preguntados</h2>

<p>mi nombre</p>
<p>mi puntaje</p>

<form action="partida/get" method="get">
    <button type="submit">Nueva Partida</button>
</form>
<form>
    <button type="submit">Ranking</button>
</form>
<form>
    <button type="submit">Crear Pregunta</button>
</form>

<a class="w3-button w3-green" href="/user/logout">Logout</a>