<h2>Preguntados</h2>

<p>{{full_name}}</p>
<p>mi puntaje</p>

<a class="w3-button w3-green" href="/partida/get">Nueva Partida</a>

<a class="w3-button w3-green" href="">Ranking</a>

<a class="w3-button w3-green" href="/user/profile">Perfil</a>

<a class="w3-button w3-green" href="">Crear Pregunta</a>

<a class="w3-button w3-red" href="/user/logout">Logout</a>