<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Pregunta</h2>
        <h1>{{ pregunta.contenido }}</h1>
        <h2>Respuestas:</h2>
        {{#respuestas}}
                <a class="w3-button w3-light-grey"><h3>{{contenido}}</h3></a>
        {{/respuestas}}
</div>